body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}



.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

