// utils - инструменты
@import './utils/hidden';
@import './utils/mixins';
@import './utils/variables';

// base - базовые стили
@import './base/common';
@import './base/container';

// components - компоненты (кнопки, логотип)
@import './components/button';
@import './components/logo';
@import './components/scrollup';
@import './components/_teammodal';

// layouts - стилизация страниц
@import './layouts/card';
@import './layouts/footer';
@import './layouts/header';
@import './layouts/modal';
@import './layouts/pagination';

@import './layouts/authorization';

@import './layouts/theme';

