:root {
  --main-font: 'Roboto', sans-serif;
  --white-color: #ffffff;
  --grey-color: #f7f7f7;
  --black-color: #000000;
  --accent-color: #ff6b08;
  --error-color: #ff001b;
  --logo-color: #818181;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 75px;
    padding-left: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 71px;
    padding-left: 71px;
  }
}

.button {
  height: 44px;
  width: 130px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.33;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  border: #ff6b01;
  background-color: #ff6b01;
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-library__header {
  margin-bottom: 65px;
}

.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__item:first-child {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .button__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button__item:first-child {
    margin-right: 15px;
  }
  .button {
    width: 136px;
  }
}

.btn {
  cursor: pointer;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 30px;
}

.logo__icon {
  margin-right: 12px;
}

.logo__film {
  fill: #818181;
}

.logo__text {
  display: none;
  color: #fff;
  font-size: 30px;
  font-family: 500;
  font-style: normal;
  line-height: 1.172;
}

@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
  }
}

.scrollup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 30px;
  right: 50px;
  -webkit-transition: fill 250ms var(--timing), opacity 250ms var(--timing);
  transition: fill 250ms var(--timing), opacity 250ms var(--timing);
}

.scrollup:hover, .scrollup:focus {
  fill: var(--accent-color);
  opacity: 1;
}

.lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity var(--animation-duration) var(--timing-function);
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform var(--animation-duration) var(--timing);
  transition: -webkit-transform var(--animation-duration) var(--timing);
  transition: transform var(--animation-duration) var(--timing);
  transition: transform var(--animation-duration) var(--timing), -webkit-transform var(--animation-duration) var(--timing);
}

.lightbox.is-open .lightbox__content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.lightbox.is-open .lightbox__content .user-list .content-el {
  width: 200px;
}

.lightbox.is-open .lightbox__content .user-list .content-el:not(:last-child) {
  margin-bottom: 10px;
}

.lightbox.is-open .lightbox__content .user-list .item-footer {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--accent-color);
  display: block;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightbox.is-open .lightbox__content .user-list .item-footer:hover, .lightbox.is-open .lightbox__content .user-list .item-footer:focus {
  background-color: var(--accent-color);
  color: var(--grey-color);
}

@media screen and (min-width: 768px) {
  .lightbox.is-open .lightbox__content .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 420px;
  }
  .lightbox.is-open .lightbox__content .user-list .content-el:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}

.social-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-links-item {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing);
  transition: background-color 250ms var(--timing);
}

.social-links-item:hover {
  background-color: var(--accent-color);
}

.social-links-list-team:focus .social-links-item {
  background-color: var(--accent-color);
}

.icon-social-links {
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--timing);
  transition: fill 250ms var(--timing);
}

.social-links-item:hover .icon-social-links {
  fill: #ffffff;
}

.social-links-list-team:focus .icon-social-links {
  fill: #ffffff;
}

.social-links-list-team {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1023 px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-list-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.card__section {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .card__section {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.card__list {
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

.card__item {
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px black, 0px 1px 1px black, 0px 2px 1px black;
          box-shadow: 0px 1px 3px black, 0px 1px 1px black, 0px 2px 1px black;
  border-radius: 5px 5px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    width: 274px;
  }
}

.card__link {
  display: block;
}

.card__link:hover,
.card__link:focus {
  border: none;
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.card__thumb {
  border-radius: 5px;
  overflow: hidden;
  min-height: 402px;
  background-color: black;
}

.card__info {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: var(--main-font);
}

.card__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--black-color);
}

.card__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 33;
  color: var(--accent-color);
}

.card__vote {
  display: block;
  text-align: center;
  margin-left: 10px;
  background-color: var(--accent-color);
  border-radius: 5px;
  width: 36px;
}

.card__rating {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--white-color);
}

.plug__container {
  background-color: black;
}

.library__empty-text {
  text-align: center;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.footer_section {
  background-color: rgba(0, 0, 0, 0.56);
}

.footer.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .footer.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__text {
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--accent-color);
}

.text__indent {
  margin-left: 3px;
}

.footer__link {
  color: var(--accent-color);
  margin-left: 3px;
  text-decoration: underline;
}

@media (min-width: 320px) {
  .footer__text {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .footer__text {
    display: inline;
  }
}

.footer_icon_vector {
  width: 14px;
  height: 12.75px;
  margin-left: 10px;
  margin-right: 10px;
}

.home__page {
  height: 230px;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .home__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 768px) {
  .home__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .home__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 1024px) {
  .home__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .home__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

.library__page {
  height: 230px;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .library__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 768px) {
  .library__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .library__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 1024px) {
  .library__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .library__page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

header .container {
  padding-top: 23px;
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  header .container {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  header .container {
    padding-top: 24px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  nav {
    margin-bottom: 30px;
  }
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link {
  position: relative;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.172;
  text-transform: uppercase;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #ff6b08;
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page.navigation__link::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 100%;
  bottom: -1px;
  left: 0;
  background-color: #ff6b08;
  opacity: 1;
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-right: 59px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 19px;
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 39px;
  }
}

.auth__button {
  position: relative;
}

.auth__button:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 20%;
  top: 70%;
  z-index: 1;
  color: #ff6b08;
}

.error__message {
  color: #ff001b;
}

#search {
  margin-bottom: 22px;
}

.search__input {
  padding: 0px;
  padding-bottom: 4px;
  width: 100%;
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-color: #fff;
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.172;
}

input:-ms-input-placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.172;
}

input::-ms-input-placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.172;
}

input::placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.172;
}

@media screen and (min-width: 768px) {
  .search {
    margin: auto;
    width: 336px;
  }
}

.search {
  position: relative;
}

.search__img {
  position: absolute;
  top: 50%;
  right: -8px;
  -webkit-transform: translateY(-50%) scale(0.8);
          transform: translateY(-50%) scale(0.8);
  border: none;
  background-color: transparent;
}

.search__img:hover {
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

.search__img:focus {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.toolbar {
  margin-bottom: 24px;
}

.basicLightbox--visible {
  overflow-y: auto;
}

.blocked-scroll {
  overflow: hidden;
}

.opened-scroll {
  overflow: visible;
}

.modal__card__modal__item--genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.genre__item {
  margin-right: 79px;
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  .genre__item {
    margin-right: 120px;
  }
}

.genre__item__list {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__genre__item__genre__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.33;
  color: #000000;
}

.modal__genre__item__genre__color:not(:last-child) {
  margin-right: 3px;
  margin-bottom: 3px;
}

.modal-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  width: 280px;
}

.basicLightbox__placeholder {
  background-color: white;
}

li {
  list-style: none;
}

.modal__container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  max-height: 958px;
}

.modal__card__title {
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}

.modal__card__modal__item {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.33;
  color: #8C8C8C;
}

.modal__card__modal__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal__card__title_info {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.33;
}

.modal__card__modal__item__text {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.67;
}

.modal__container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
}

.modal__card__modal__list_rigth {
  margin-right: 39px;
  width: 69px;
}

.modal__card__modal__list_left {
  min-width: 134px;
}

.modal__color__vote {
  padding: 1px 10px 1px 10px;
  background: #FF6B01;
  border-radius: 5px;
  color: #ffffff;
}

.modal__color__votes {
  padding: 1px 4px 1px 4px;
  background-color: #F7F7F7;
  border-radius: 5px;
  color: #000000;
}

.modal__change__background {
  padding: 1px 4px 1px 4px;
  background: #F7F7F7;
  border-radius: 5px;
}

.modal__btn__watched {
  width: 112px;
  height: 44px;
  background: white;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.modal__btn__watched:hover, .modal__btn__watched:focus {
  color: white;
  border: none;
  background-color: #ff6b01;
  -webkit-box-shadow: 0px 8px 43px #ff6b01;
          box-shadow: 0px 8px 43px #ff6b01;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn__queue {
  width: 112px;
  height: 44px;
  background: white;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.modal__btn__queue:hover, .modal__btn__queue:focus {
  color: white;
  border: none;
  background-color: #ff6b01;
  -webkit-box-shadow: 0px 8px 43px #ff6b01;
          box-shadow: 0px 8px 43px #ff6b01;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__card_modal_item_more {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

.modal__card__modal__item--change__color {
  width: 147px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .modal-card {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    width: 618px;
  }
  .modal__container {
    padding-left: 28px;
    padding-right: 30px;
    max-width: 618px;
    max-height: 562px;
  }
  .modal__container__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 618px;
    max-height: 562px;
    margin-top: 0px;
  }
  .modal__img__film {
    width: 100%;
    height: 373px;
  }
  .modal .modal_content .close_modal_window {
    margin-top: 5px;
    margin-right: -20px;
  }
  .modal__card__title {
    margin-top: 0px;
  }
  .modal__watched {
    width: 125px;
    height: 44px;
  }
  .modal__queue {
    width: 125px;
    height: 44px;
  }
  .modal__container__btn {
    margin-top: 0px;
  }
  .modal__container__tablet {
    margin-left: 30px;
  }
  .modal__btn__watched {
    width: 125px;
    height: 44px;
  }
  .modal__btn__queue {
    width: 125px;
    height: 44px;
  }
  .modal__card__modal__list__bottom {
    width: 264px;
  }
  .modal__card__modal__list_rigth {
    margin-right: 39px;
    min-width: 69px;
  }
  .modal__card__modal__item--change__color {
    width: 178px;
    color: #000000;
  }
}

@media screen and (min-width: 1024px) {
  .modal-card {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 882px;
  }
  .modal__container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 882px;
    max-height: 568px;
  }
  .modal__container__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 882px;
    max-height: 568px;
  }
  .modal__img__film {
    width: 100%;
    height: 478px;
  }
  .modal .modal_content .close_modal_window {
    margin-top: 5px;
    margin-right: -20px;
  }
  .modal__card__title {
    margin-top: 0px;
  }
  .modal__watched {
    width: 136px;
    height: 44px;
  }
  .modal__queue {
    width: 136px;
    height: 44px;
  }
  .modal__container__btn {
    margin-top: 0px;
  }
  .modal__container__tablet {
    margin-left: 30px;
  }
  .modal__btn__watched {
    width: 136px;
    height: 44px;
  }
  .modal__btn__queue {
    width: 136px;
    height: 44px;
  }
  .modal__card__modal__list__bottom {
    width: 396px;
  }
  .modal__card__modal__item--change__color {
    width: 215px;
  }
  .modal__genre__item {
    width: 200px;
  }
  .modal__card__modal__list_rigth {
    margin-right: 83px;
    min-width: 69px;
  }
}

.modal__close-btn {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .modal__close-btn {
    position: absolute;
    top: -14px;
    left: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #FF6B01;
  }
}

@media screen and (min-width: 768px) {
  .modal__close-btn {
    position: absolute;
    cursor: pointer;
    top: -35px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #FF6B01;
  }
}

.modal__container__info {
  margin-top: 21px;
}

.modal {
  position: relative;
  z-index: 50;
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: all 500ms var(--timing) 125ms;
  transition: all 500ms var(--timing) 125ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__container {
  background-color: var(--white-color);
  width: 100%;
  padding: 0;
}

.modal__film-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

@media screen and (min-width: 1024px) {
  .modal__film-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
}

.modal__poster-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal__poster-wrapper {
    width: 264px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__poster-wrapper {
    width: 396px;
  }
}

.modal__poster {
  width: 100%;
  border-radius: 5px;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 20px 40px 20px;
}

@media screen and (min-width: 768px) {
  .modal__content {
    padding: 20px 30px 40px 30px;
  }
}

.modal__close-btn {
  width: 100%;
  position: static;
}

.modal__container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .modal__container-info {
    margin-left: 30px;
  }
}

.modal__text-container {
  margin: 0;
}

.modal__btn {
  width: 112px;
  height: 44px;
  background: var(--white-color);
  border: 1px solid #000000;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.modal__btn:hover, .modal__btn:focus {
  color: var(--white-color);
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 8px 43px #ff6b01;
          box-shadow: 0px 8px 43px #ff6b01;
  -webkit-transition: 500ms var(--timing);
  transition: 500ms var(--timing);
}

.modal__close-btn {
  border: none;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .pagination-container {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .pagination-container {
    padding: 30px 0 30px 0;
  }
}

.paginationjs-pages > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .paginationjs-pages > ul {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .paginationjs-pages > ul {
    padding: 30px 0 30px 0;
  }
}

.pagination-button:not(:last-child),
.paginationjs-pages:not(:last-child),
.dots,
.paginationjs-ellipsis {
  margin-right: 16px;
}

.pagination-button {
  padding: 0;
  background-color: var(--withe-color);
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.paginationjs-page {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
  background-color: var(--withe-color);
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.333;
}

.pagination--current {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--withe-color);
}

@media screen and (max-width: 768px) {
  .dots,
  .first-button,
  .last-button {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--grey-color);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  stroke: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left {
  background-image: url(../images/svg/arrow-left.svg);
}

.arrow-right {
  background-image: url(../images/svg/arrow-right.svg);
}

.pagination-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .pagination-container2 {
    padding: 0 0;
  }
}

@media screen and (min-width: 768px) {
  .pagination-container2 {
    padding: 0 0 60px 0;
  }
}

.pagination-button2:not(:last-child) {
  margin-right: 16px;
}

.pagination-button2 {
  padding: 0;
  background-color: var(--withe-color);
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.arrow-left2,
.arrow-right2 {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--grey-color);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  stroke: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left2 {
  background-image: url(../images/svg/arrow-left.svg);
}

.arrow-right2 {
  background-image: url(../images/svg/arrow-right.svg);
}

.pagination-button.arrow-left:hover,
.pagination-button.arrow-left:focus,
.pagination-button.arrow-right:hover,
.pagination-button.arrow-right:focus,
.pagination-button2.arrow-left2:hover,
.pagination-button2.arrow-right2:hover {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 30;
  opacity: 1;
  -webkit-transform: opacity 250ms var(--timing);
          transform: opacity 250ms var(--timing);
}

.blocked-scroll {
  overflow: hidden;
}

.nav__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.auth__button {
  padding: 5px;
  background-color: transparent;
  fill: #ffffff;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.auth__button:not(:last-child) {
  margin-right: 10px;
}

.auth__button:hover .button-icon,
.auth__button:focus .button-icon {
  fill: #ff6b09;
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  opacity: 1;
  -webkit-animation: show 400ms;
          animation: show 400ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-modal.hidden {
  z-index: -1;
  opacity: 0;
  -webkit-animation: hide 400ms;
          animation: hide 400ms;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form-wrapper {
  width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-color: #f1f1f1;
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #ff6b09;
  border-radius: 2px;
  color: #fff;
  border: none;
}

.auth__button {
  cursor: pointer;
}

.form-button-close:hover,
.form-button-close:focus {
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}

.registration.hidden {
  display: none;
}

.register-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  background-color: #ffffff;
  color: #ff6b09;
  border: 1px solid #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 12px;
  border-radius: 4px;
}

.register-button:hover, .register-button:focus {
  color: #f7f7f7;
  border-color: #ff6b09;
  background-color: #ff6b09;
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}

.logIn.hidden {
  display: none;
}

.log-in-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  background-color: #ffffff;
  color: #ff6b09;
  border: 1px solid #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 12px;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.log-in-button:hover, .log-in-button:focus {
  color: #f7f7f7;
  border-color: #ff6b09;
  background-color: #ff6b09;
}

.light-theme {
  background-image: url(.././images/photofon/m-light.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  .light-theme {
    background-image: url(.././images/photofon/t-light.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .light-theme {
    background-image: url(.././images/photofon/d-light.jpg);
  }
}

.dark-theme {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(.././images/photofon/m-night.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/photofon/m-night.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  .dark-theme {
    background-image: url(.././images/photofon/t-night.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .dark-theme {
    background-image: url(.././images/photofon/d-night.jpg);
  }
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* THEME SWITCH */
.theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .theme-switch {
    margin-bottom: 0px;
  }
}

.theme-switch__icon {
  fill: #ffffff;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.dark-theme .theme-switch__icon {
  fill: #ff6b09;
}

.theme-switch__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 60px;
  height: 26px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #ff6b09;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  -webkit-box-shadow: 0 0 0 3px #ff6b09;
          box-shadow: 0 0 0 3px #ff6b09;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden,
.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */