@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin centeredFlex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin center-flex($type: flex, $jc: center) {
  display: $type;
  align-items: center;
  justify-content: $jc;
}
