:root {
  --main-font: 'Roboto', sans-serif;

  --white-color: #ffffff;
  --grey-color: #f7f7f7;
  --black-color: #000000;
  --accent-color: #ff6b01;
  --error-color: #ff001b;
  --logo-color: #818181;

  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
