<div class="form-modal hidden">
    <div class="form-wrapper">
        <button class="form-button-close">X</button>
        
        <form class="registration hidden">
            <h2>Enter your email & password for registration</h2>
            <label for="reg-email">E-mail</label>
            <input name="reg-email" class="mail" type="mail" />
            <label for="reg-pass">Password</label>
            <input name="reg-pass" class="pass" type="password" />
            <button class="register-button" type="submit">Register</button>
        </form>
        
        <form class="logIn hidden">
            <h2>Enter your email & password for login</h2>
            <label for="log-email">E-mail</label>
            <input name="log-email" class="mail" type="mail" />
            <label for="log-pass">Password</label>
            <input name="log-pass" class="pass" type="password" />
            <button class="log-in-button" type="submit">Login</button>
        </form>

    
    </div>
</div>