<section class="card__section">
  <div class="container">
    <div class="library__empty hidden">
      <p class="library__empty-text">Oops, it seems like you still didn't choose any film!</p>
      <div style="width: 100%; height: 0; padding-bottom: 56%; position: relative">
        <iframe
          src="https://giphy.com/embed/g01ZnwAUvutuK8GIQn"
          width="100%"
          height="100%"
          style="position: absolute"
          frameborder="0"
          class="giphy-embed"
          allowfullscreen
        ></iframe>
      </div>
      <p>
        <a href="https://giphy.com/gifs/high-quality-highqualitygifs-g01ZnwAUvutuK8GIQn"
          >via GIPHY</a
        >
      </p>
    </div>
    <ul class="card__list list"></ul>
  </div>
</section>
