<section class="card__section">
  <h2 class="visually-hidden">Movie gallery</h2>
  <div class="container">
    <div class="plug__container js-search-empty hidden">
      <img src="https://www.b17.ru/foto/uploaded/upl_auto_1538648168_251962_1.jpg" />
      <!-- <div class="search__empty hidden">
      <img style="margin: 0 auto" alt="Enter the correct movie name" src="https://www.b17.ru/foto/uploaded/upl_auto_1538648168_251962_1.jpg" /> -->
    </div>
    <div class="plug__container js-library-empty hidden">
      <p class="library__empty-text">Oops, it seems like you still didn't choose any film!</p>
      <div class="giphy-wrapper">
        <iframe
          src="https://giphy.com/embed/g01ZnwAUvutuK8GIQn"
          class="giphy-embed"
          allowfullscreen
        ></iframe>
      </div>
      <p>
        <a href="https://giphy.com/gifs/high-quality-highqualitygifs-g01ZnwAUvutuK8GIQn"
          >via GIPHY</a
        >
      </p>
    </div>
    <ul class="card__list list"></ul>
  </div>
</section>
