<header class="home__page">
  <div class="container">
    <div class="toolbar">
    <!-- Разметка переключателя темы -->
    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
        <use class="theme__icon" href="./images/theme/sprite.svg#sun"
          width="25px"
          height="25px"></use>
      </svg>
    
      <div class="theme-switch__control">
        <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой" />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle" height="24px">
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
    
      <svg class="theme-switch__icon" aria-label="Иконка луны">
        <use href="./images/theme/sprite.svg#moon"></use>
      </svg>
    </div>
    </div>

    <nav>
      <a class="logo link" href="#">
        <svg class="logo__icon" width="24px" height="24px">
          <use
            class="logo__film"
            href="../src/images/sprite.svg#film"
            width="25px"
            height="25px"
          ></use>
        </svg>
        <p class="logo__text">Filmoteka</p>
      </a>

      <div class="nav__menu">
        <ul class="navigation list">
          <li class="navigation__item">
            <a class="navigation__link link link__home current-page" href="#">Home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link link__library" href="#">My library</a>
          </li>
        </ul>

        <div class="nav__auth">
          <button class="button_registration auth__button" type="button" data-title="register">
            <svg class="button-icon" width="24px" height="24px">
              <use href="../src/images/sprite.svg#signup"></use>
            </svg>
          </button>

          <button class="button_login auth__button" type="button" data-title="log in">
            <svg class="button-icon" width="24px" height="24px">
              <use href="../src/images/sprite.svg#login"></use>
            </svg>
          </button>

          <p class="user__name hidden"></p>
          <button class="button_signOut auth__button hidden" type="button" data-title="sigh out">
            <svg class="button-icon" width="24px" height="24px">
              <use href="../src/images/sprite.svg#signout"></use>
            </svg>
          </button>
        </div>
      </div>
    </nav>

    <form class="search" id="search">
      <input
        class="search__input"
        type="text"
        name="query"
        autocomplete="on"
        placeholder="Search movies"
      />
      <button class="search__img js-search" type="button" title="Search">
        <svg class="search__icon" width="20px" height="20px">
          <use
            class="search__film"
            href="../src/images/sprite.svg#search"
            width="20px"
            height="20px"
          ></use>
        </svg>
      </button>
    </form>

    <span class="error__message hidden">Search result not successful. Enter the correct movie name.</span>

    <div class="library__buttons hidden">
      <ul class="button__list list">
        <li class="button__item">
          <button class="button js-lib-watched" type="button">Watched</button>
        </li>
        <li class="button__item">
          <button class="button js-lib-queue" type="button">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
