<header>
  <div class="container">
    <nav>
    <a class="logo" href="#">
      <svg class="logo__icon" width="24px" height="24px">
        <use class="logo__film" href="#" ></use>
      </svg>
      <p class="logo__text">Filmoteka</p>
    </a>

    <ul class="navigation list">
      <li class="navigation__item">
        <a class="navigation__link link current-page" href="#">HOME</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link link" href="#">MY LIBRARY</a>
      </li>
    </ul>
  </nav>

  <form class="search" id="search">
      <input class="search__input" type="text" name="query" autocomplete="on" placeholder="Поиск фильмов" />
      <button class="search__img js-search" type="button" title="Search"></button>
  </form>
  </div>
</header>
