<button id="btn_modal_window">Open Modal</button>
<div id="my_modal" class="modal">
  <div class="modal_content">
    <div class="modal__container">
      <span class="close_modal_window">×</span>
      <div class="container__info">
        <img src="/img/film2.jpg" class="img__film" alt="Фильм" width="240" height="356" />
        <div class="container__tablet">
          <h2 class="modal__card__title">A FISTFUL OF LEAD</h2>

          <div class="container__card">
            <ul class="card__modal__list_rigth">
              <li class="card__modal__item">Vote / Votes</li>
              <li class="card__modal__item">Popularity</li>
              <li class="card__modal__item">Original Title</li>
              <li class="card__modal__item">Genre</li>
            </ul>

            <ul class="card__modal__list_left">
              <li class="card__modal__item card__modal__item--change__color__background">
                <span class="color__vote">7.3</span> /
                <span class="color__votes"> 1260</span>
              </li>
              <li class="card__modal__item card__modal__item--change__color">100.2</li>
              <li class="card__modal__item card__modal__item--change__color">A FISTFUL OF LEAD</li>
              <li class="card__modal__item card__modal__item--change__color">Western</li>
            </ul>
          </div>

          <h3 class="card__title_info">ABOUT</h3>
          <ul class="card__modal__list__bottom">
            <li class="card__modal__item__text">
              <p class="card_modal_item_more">
                Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from
                the most corrupt settlement of the gold rush towns. But not all goes to plan one is
                killed and the other three escapes with bags of gold hide out in the abandoned gold
                mine where they happen across another gang of three – who themselves were planning
                to hit the very same bank! As tensions rise, things go from bad to worse as they
                realise the bags of gold are filled with lead... they’ve been double crossed – but
                by who and how?
              </p>
            </li>
          </ul>
          <div class="container__btn">
            <button class="btn watched" data-pointer-type="lift">ADD TO WATCHED</button>
            <button class="btn queue" data-pointer-type="highlight">ADD TO QUEUE</button>
          </div>
          <!-- <span class="close_modal_window">×</span> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="./js/modal.js"></script> -->
</div>
