<div class="backdrop is-hidden">
  <div class="container">
    <div class="modal__container">
      <button type="button" class="modal__close-btn btn" aria-label="Close">Close</button>
      <div class="modal__content">
        <div class="modal__poster-wrapper"></div>
        <div class="modal__container-info">
          <div class="modal__container__tablet modal__text-container"></div>
          <div class="modal__container__btn">
            <button class="modal__btn js-modal-watched" data-action="add">ADD TO WATCHED</button>
            <button class="modal__btn js-modal-queue" data-action="add">ADD TO QUEUE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
