.button {
  height: 44px;
  width: 130px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.33;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  border: #ff6b01;
  background-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-library__header {
  margin-bottom: 65px;
}

.button__list {
  display: flex;
}

.button__item:first-child {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .button__list {
    justify-content: center;
  }

  .button__item:first-child {
    margin-right: 15px;
  }
  .button {
    width: 136px;
  }
}
