.card__section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
.card__list {
  margin-left: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

.card__item {
  flex-basis: calc(100% / 1 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 5px 5px 4px 4px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    flex-basis: calc(100% / 2 - 30px);
    width: 294px;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
    width: 274px;
  }
}
.card__link {
  display: block;
}
.card__link:hover,
.card__link:focus {
  border: none;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__thumb {
  border-radius: 5px;
  overflow: hidden;
}

.card__info {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: var(--main-font);
}

.card__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--black-color);
}

.card__data {
  display: flex;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 33;
  color: var(--accent-color);
}

.card__vote {
  display: block;
  text-align: center;
  margin-left: 10px;
  background-color: var(--accent-color);
  border-radius: 5px;
  width: 36px;
}
.card__rating {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--white-color);
}

.is-hidden {
  display: none;
}
