.footer_section {
  background-color: #ffffff;
}

.footer.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: #f7f7f7;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .footer.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.text {
  margin-top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}

.link {
  color: #545454;
  margin-left: 3px;
  text-decoration: underline;
}

@media (min-width: 320px) {
  .text {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .text {
    display: inline;
  }
}

.footer_icon_vector {
  width: 14px;
  height: 12.75px;
  margin-left: 10px;
  margin-right: 10px;
}
