.basicLightbox--visible {
  overflow-y: auto;
}

.blocked-scroll {
  overflow: hidden;
}

.opened-scroll {
  overflow: visible;
}


.modal__card__modal__item--genres{
 display: flex;
 margin-top: 10px;
}

.genre__item{
  margin-right: 79px;
  margin-top: 5px;
  @media screen and (min-width: 1024px) {
    margin-right: 120px;
  }
}

.genre__item__list {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.modal__genre__item__genre__color {
  display: flex;
  width: 100px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.33;
  color: #000000;

  &:not(:last-child) {
    margin-right: 3px;
    margin-bottom: 3px;
  }
}


.modal-card {
  // position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  width: 280px;
}

.basicLightbox__placeholder{
  background-color: white;
}

li{
  list-style: none;
}

.modal__container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  max-height: 958px;
}

  .modal__card__title {
      margin-bottom: 20px;
      margin-top: 30px;
      @include font(500, 20px, 1.15)
  }

  .modal__card__modal__item{
      &:not(:last-child) {
          margin-bottom: 10px;
      }
      @include font(500, 11px, 1.33);
      color: #8C8C8C;
  }

      .modal__card__title_info {
      margin-top: 20px;
      margin-bottom: 10px;
      @include font(500, 11px, 1.33);
  }

      .modal__card__modal__item__text {
      margin-bottom: 21px;
      @include font(500, 11px, 1.67);
  }

  .modal__container__card {
      display: flex;
      width: 240px;
  }

      .modal__card__modal__list_rigth{
      margin-right: 39px;
      width: 69px;
  }

  .modal__card__modal__list_left{
      min-width: 134px;
  }

  .modal__color__vote {
      padding: 1px 10px 1px 10px;
      background: #FF6B01;
      border-radius: 5px;
      color: #ffffff;
  }

  .modal__color__votes {
      padding: 1px 4px 1px 4px;
      background-color: #F7F7F7;
      border-radius: 5px;
      color: #000000;
  }

  .modal__change__background {
      padding: 1px 4px 1px 4px;
      background: #F7F7F7;
      border-radius: 5px;
  }

  .modal__btn__watched{
      width: 112px;
      height: 44px;
      background: white;
      border: 1px solid #000000;
      border-radius: 5px;
      margin-right: 15px;
      cursor: pointer;
      @include font(500, 12px, 1.33);

        &:hover,
        &:focus {
          color: white;
          border: none;
          background-color: #ff6b01;
          box-shadow: 0px 8px 43px rgb(255 107 1 / 60%);
          transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

  .modal__btn__queue{
      width: 112px;
      height: 44px;
      background: white;
      // opacity: 1;
      border: 1px solid #000000;
      cursor: pointer;
      border-radius: 5px;
      @include font(500, 12px, 1.33);

        &:hover,
        &:focus {
          color: white;
     border: none;
    background-color: #ff6b01;
    box-shadow: 0px 8px 43px rgb(255 107 1 / 60%);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
  }

.modal__container__btn{
 display: flex;
 justify-content: start;
 align-items: center;
//  padding-bottom: 40px;
}

.modal__card_modal_item_more {
  // max-width: 240px;
  // min-height: 236px;
  @include font(500, 12px, 1.66);
  font-style: normal;
  font-family: 'Roboto', sans-serif;;
}


.modal__card__modal__item--change__color {
  width: 147px;
  color: #000000;
}


@media screen and (min-width: 768px) {

  .modal-card {
    // position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    width: 618px;
    // margin-top: 15px;
  }


  .modal__container {
  padding-left: 28px;
  padding-right: 30px;
  max-width: 618px;
  max-height: 562px;
}

 .modal__container__info {
     display: flex;
    //  padding-top: 42px;
     max-width: 618px;
     max-height: 562px;
     margin-top: 0px;
 }

 .modal__img__film {
     width: 100%;
     height: 373px;
 }

 .modal .modal_content .close_modal_window {
     margin-top: 5px;
     margin-right: -20px;
 }


.modal__card__title {
   margin-top: 0px;
}

.modal__watched{
   width: 125px;
   height: 44px;
}

.modal__queue{
    width: 125px;
   height: 44px;    
}

.modal__container__btn {
   margin-top: 0px;
}

.modal__container__tablet {
   margin-left: 30px;
}

.modal__btn__watched{
      width: 125px;
      height: 44px;
}

.modal__btn__queue{
      width: 125px;
      height: 44px;
}

.modal__card__modal__list__bottom{
width: 264px;
// max-height: 236px;
}

.modal__card__modal__list_rigth {
  margin-right: 39px;
  min-width: 69px;
}

.modal__card__modal__item--change__color {
  width: 178px;
  color: #000000;
}
}

@media screen and (min-width: 1024px) {

  .modal-card {
    // position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 882px;
    // margin-top: 15px;
  }

  .modal__container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 882px;
  max-height: 568px;
}

 .modal__container__info {
     display: flex;
    //  padding-top: 50px;
     max-width: 882px;
     max-height: 568px;
 }

 .modal__img__film {
     width: 100%;
     height: 478px;
    //  margin-bottom: 40px;
  //    padding-right: 32px;
 }

 .modal .modal_content .close_modal_window {
     margin-top: 5px;
     margin-right: -20px;
 }

.modal__card__title {
   margin-top: 0px;
}

.modal__watched{
   width: 136px;
   height: 44px;
}

.modal__queue{
   width: 136px;
   height: 44px;    
}

.modal__container__btn {
   margin-top: 0px;
}

.modal__container__tablet {
   margin-left: 30px;
}

.modal__btn__watched{
      width: 136px;
      height: 44px;
}

.modal__btn__queue{
      width: 136px;
      height: 44px;
}

.modal__card__modal__list__bottom{
width: 396px;
// height: 160px;
}

.modal__card__modal__item--change__color{
  width: 215px;
}

.modal__genre__item{
  width: 200px;
}

.modal__card__modal__list_rigth {
  margin-right: 83px;
  min-width: 69px;
}
}

.modal-close-btn {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: -14px;
    left: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 15px;

    width: 100%;
    height: 35px;

    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #FF6B01;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    cursor: pointer;
    top: -35px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 15px;

    width: 100%;
    height: 35px;

    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #FF6B01;
  }
}

.modal__container__info {
  margin-top: 21px;
}
// @media screen and (min-width:320px) {
//   .modal__container_info{
//     width: 280px;
//   }
// }

