.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 40px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 0 60px 0;
  }
}

.pagination-button:not(:last-child),
.dots {
  margin-right: 16px;
}

.pagination-button {
  padding: 0;
  background-color: var(--withe-color);
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.pagination--current {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--withe-color);
}

.dots,
.first-button,
.last-button {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--grey-color);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  stroke: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left {
  background-image: url(../images/svg/arrow-left.svg);
}

.arrow-right {
  background-image: url(../images/svg/arrow-right.svg);
}

.pagination-button.arrow-left:hover,
.pagination-button.arrow-left:focus,
.pagination-button.arrow-right:hover,
.pagination-button.arrow-right:focus {
  background-color: var(--accent-color);
}
